.banner {
  min-height: calc(100vh - 2.5875rem);
  align-items: flex-start;
}
.bannerCont {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: calc(100% - 2rem);
  margin: auto
}
@media (orientation: landscape) and (min-height: 540px) {
  .bannerCont {
    padding-bottom: calc(2.5875rem + 1rem);
  }
}
.bannerCont h1 {
  font-size: 5.2rem;
  font-weight: 600;
  padding: 0.05em 0;
  font-family: inherit;
}
.bannerCont h2 {
  font-size: 1.496rem;
  font-weight: 400;
  font-family: inherit;
}
.bannerCont h3 {
  font-size: 0.96rem;
  font-weight: 400;
  font-family: inherit;
  color: var(--text);
}
.bannerCont h3:nth-child(4) {
  letter-spacing: 0.13em;
  margin: 0.25em 0;
  opacity: 0.7;
}
.bannerCont h3:nth-child(5) > a {
  letter-spacing: 0.07em;
  opacity: 0.7;
}
@media (hover: hover) {
  .bannerCont h3:nth-child(5) > a:hover {
    text-decoration: underline;
    color: white;
    opacity: 1;
  }
}

.bannerContLeft {
  padding-right: 0.24rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brH2 {
  display: none;
}

.buttons {
  font-size: 0.96rem;
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.buttons button {
  outline: none;
  font-family: inherit;
  margin-right: 0.5em;
  cursor: pointer;
  font-size: inherit;
}

.buttons button:last-child {
  margin-right: 0;
}
.buttons > div:first-child {
  display: flex;
  margin-bottom: 0.5em;
}
.but {
  background-color: var(--red);
  color: var(--dark-black);
  font-weight: 700;
  height: 36px;
  border-radius: 0.2em;
  padding: 0 0.5em;
  border: 1px var(--red) solid;
}

.svgBut {
  padding: 0;
  display: flex;
  background-color: var(--dark-black);
  border-radius: 100%;
  width: 36px;
  height: 36px;
  border: none;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.svgBut > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.svgBut > a > * {
  width: inherit;
  height: inherit;
}

@media (hover: hover) {
  .svgBut > a:hover .svgBut {
    background-color: rgba(255, 249, 249, 0.2);
  }
  .svgBut > a:hover svg > path {
    fill: rgb(255, 24, 57);
  }
  .but:hover {
    background-color: rgb(255, 24, 57);
  }
}
.svgBut > a:active {
  background-color: var(--red);
  border: 2px var(--red) solid;
}

.svgBut > a:active svg > path {
  fill: var(--dark-black);
}

.but:active {
  background-color: var(--dark-black);
  color: var(--red);
}
.bannerContRight {
  width: 100%;
  display: flex;
  max-width: 20.8rem;
  align-items: center;
  min-width: 12rem;
  border-radius: 50%;
}
.bannerContRight > img {
  width: 100%;
  border-radius: 50%;
}

/* @media (max-width: 1425px) and (orientation: landscape) {
  .bannerCont h2 {
    font-size: 1.6082rem;
  }
  .bannerCont h3 {
    font-size: 1.032rem;
  }
  .bannerCont h1 {
    font-size: 5.59rem;
  }
  .bannerContRight {
    max-width: 22.36rem;
  }

  .svgBut {
    width: 35px;
    height: 35px;
  }
  .but {
    height: 35px;
  }
  .buttons {
    font-size: 1rem;
  }
} */
@media (max-width: 1234px) and (orientation: landscape) {
  .bannerCont {
    max-width: 1040px;
  }
  .bannerCont h2 {
    font-size: 1.383052rem;
  }
  .bannerCont h3 {
    font-size: 1rem;
  }
  .bannerCont h1 {
    font-size: 4.8074rem;
  }
  .bannerContRight {
    max-width: 19.2296rem;
  }
}
@media (max-width: 1070px) and (orientation: landscape) {
  .bannerCont {
    max-width: 880px;
  }
  .bannerCont h2 {
    font-size: 1.18942472rem;
  }
  .bannerCont h1 {
    font-size: 4.134364rem;
  }
  .bannerContRight {
    max-width: 16.537456rem;
  }
}
@media (max-width: 930px) and (orientation: landscape) {
  .bannerCont {
    max-width: 770px;
  }
  .bannerCont h1 {
    font-size: 3.55555304rem;
  }
  .bannerContRight {
    max-width: 14.22221216rem;
  }
}
@media (max-width: 820px) and (orientation: landscape) {
  .bannerCont {
    max-width: 680px;
  }
  .bannerCont h1 {
    font-size: 3.0577756144rem;
  }
  .bannerContRight {
    max-width: 13rem;
    min-width: auto;
  }
}
@media (max-width: 715px) and (orientation: landscape) {
  .bannerCont {
    max-width: 600px;
  }
  .bannerCont h1 {
    font-size: 2.629687028384rem;
  }
  .bannerContRight {
    max-width: 12.2311024576rem;
  }
}
@media (max-width: 644px) and (orientation: landscape) {
  .bannerCont {
    max-width: 570px;
  }
  .bannerContRight {
    max-width: 10.518748113536rem;
  }
}
@media (orientation: portrait) {
  .banner {
    min-height: 95vh;
  }
  .bannerCont {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.2rem 0;
  }
  .buttons > div:first-child {
    display: flex;
    justify-content: center;
  }
  .bannerContLeft {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    text-align: center;
  }
  .bannerContRight {
    align-self: center;
    width: auto;
    width: 15rem;
  }
  .buttons {
    align-self: center;
    font-size: 1rem;
  }
  .bannerCont h1 {
    font-size: 3.5rem;
    padding: 0.1em 0;
  }
  .bannerCont h2:first-child {
    font-size: 1rem;
    padding-top: 0.1em;
  }
  .bannerCont h2:nth-child(3) {
    font-size: 1.3rem;
  }
  .bannerCont h3 {
    font-size: 1rem;
  }
  .svgBut {
    width: 35px;
    height: 35px;
  }
  .but {
    height: 35px;
  }
  .brH2 {
    display: inline;
  }
  .bannerCont h3:nth-child(4) {
    margin: 0.5em 0;
  }
}
@media (orientation: landscape) {
  .bannerCont h1 {
    position: relative;
    left: -0.05em;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .banner {
    min-height: calc(100vh - 3.1875rem);
  }
}
